<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <title> {% block title %} home {% endblock %} </title>
</head>


<body>
    <div class="main-div"> 
        <div class="left-div"> 
            <center>
                <div class="button"> <a href="/home" > Home </a> </div>
                <div class="button"> <a href="/signup" > Student/Signup  </a> </div>
                <div class="button"> <a href="/teacher_signup" > Teacher/Signup  </a> </div>
                <div class="button"> <a href="/login"> Login </a> </div>
            </center>
        </div>

        <div class="right-div"> 
            <center>
                <h1 class="greeting"> Welcome </h1>
            </center>
             
            {% block content %}
    
            {% endblock %}
        </div>

    </div>

</body>


</html>

