<!DOCTYPE html>
<html>
<head>
    <title> Signup </title>
</head>
<body> 
    <form method="POST"> 
        {% csrf_token %}
        <div class="signup_login">
            <h2>SignUp</h2>
            <hr>
            <input type="text" placeholder="Enter your name" id="username" name="username"><br> 
            <input type="text" placeholder="Enter your email" id="email" name="email"><br>
            <input type="password" placeholder="Enter your password" id="password" name="password"><br>
            <hr>
            <button type="submit" class="register_btn"> Signup </button>
        </div>
    </form>
</body>
</html>
